.ajs-instagram-feed .clr{
	clear:both;
}

.ajs-instagram-feed .container{
	width:100%;
	text-align:center;
}
	
.ajs-instagram-feed .pad10{
	padding:10px 0;
}

.ajs-instagram-feed div.img-block{
	position: relative;
	float: left;
	display: block;
	width: 150px;
}

.ajs-instagram-feed div.blk-bg{
	background: black !important;
}

.ajs-instagram-feed div.img-block  div img{
	position: absolute;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	left:0px;
	width: 185px;
	height: auto;
	border-radius: 0px;
	max-width:185px;
}

.ajs-instagram-feed div.img-block div.slide-left:hover img{
	margin-left: -35px;
}

.ajs-instagram-feed div.img-block div.block{
	position: relative;
	width: 145px;
	height: 145px;
	margin-left: 5px;
	margin-top: 4px;
	float:left;
	text-align: center;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	border:1px solid #e0e0e0;
	overflow: hidden;
	background: #dfdfdf;
}

.ajs-instagram-feed div.blk-bg span{
	color: white !important;
	text-shadow: 1px 1px 0px #030303 !important;
}

.ajs-instagram-feed div.img-block div .text{
	position: absolute;
    top: 0;
    left: 0;
    display: table;
    margin-left: -185px;
    height: 100%;
	width:100%;
}

.ajs-instagram-feed div.img-block div:hover .text{
	margin-left: 0px;
}

.ajs-instagram-feed div.img-block div span{
	width:141px;
	display: table-cell;
   	vertical-align: middle;
   	padding: 5px;
   	text-align: center;
   	color: black;
   	opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 5-7 */
    filter: alpha(opacity=0);
   	text-shadow: 1px 1px 0px rgba(255,255,255,0.3);
	border:1px solid #666;
}

.ajs-instagram-feed div.img-block div:hover span{
	opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* IE 5-7 */
    filter: alpha(opacity=100);
}

.ajs-instagram-feed div.img-block div:hover img{
	opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* IE 5-7 */
    filter: alpha(opacity=50);
}

.ajs-instagram-feed div.img-block div span p.stats{
	width: 100%;
	text-align: center;
	font-size: 11px;
	font-family: Verdana, sans-serif;
	line-height: 25px;
}

.ajs-instagram-feed .links{
	clear:both;
	padding:10px;
}

.ajs-instagram-feed .follow-btn{
	display:inline-block;
	padding:8px 25px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-decoration:none;
	margin:5px auto;
	background:#1c5380;
	color:#fff;
	font-size:14px;
	font-family:Verdana, Arial;
}

.ajs-instagram-feed .profile{
	float:left;
	width:100%;
}

.ajs-instagram-feed .profile  img{
	border-radius: 50%;
	 width:50px;
    height: 50px;
	 border: 2px solid #1c5380;
	 padding:2px;
	 margin-right:10px;
}

.ajs-instagram-feed .profile h2, .ajs-instagram-feed .profile p{
	text-align:left;
	color:#1c5380;
	font-family:Verdana, Arial;
}

.ajs-instagram-feed .profile h2{
	font-size:18px;
	clear:none;
	margin:5px 0 0 0;
}

.ajs-instagram-feed .profile p{
	font-size:14px;
	margin:0 0 15px 0;
}