.ajs-instagram-form{	margin:15px 0;}.ajs-help-text{	font-size:13px;}
.ajs-table {
	font-size: 14px;
	border-collapse: collapse;
	margin-top: .3em;
	width: 100%;
	clear: both;
}
.ajs-table th {
	vertical-align: top;
	text-align: left;
	padding: 25px 10px 0 0;
	width: 200px;
	line-height: 1.3;
	font-weight: 600;	color: #23282d;
}.ajs-table td {    text-align: left;    padding: 25px 10px 0 0;}
.ajs-table th.head {	font-size:17px;	color:#000;	border-bottom: 1px solid #ccc;	padding-bottom:10px;}
.ajs-instagram-btn {
	display: block;
	padding: 0 20px 0 25px;
	height: 50px;
	line-height: 50px;
	background: #34628C;
	color: #E9EDF2;
	text-decoration: none;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	width:350px;
}
.ajs-instagram-btn:hover{
	background: #3C6C99;
	color: #E9EDF2;
}
.ajs-table .fa-instagram{
	margin-right: 10px;
	top: 5px!important;
	position: relative;
}.ajs-btn{	margin:25px 0 !important;}